Usage
=====

Include this plugin in your pom:

```xml
<plugin>
    <groupId>io.brooklyn.maven</groupId>
    <artifactId>brooklyn-maven-plugin</artifactId>
    <version>${brooklyn-maven-plugin.version}</version>
</plugin>
```

If you are using a snapshot release you should also include this plugin repository:

```xml
<pluginRepositories>
    <pluginRepository>
        <id>sonatype-snapshots</id>
        <url>https://oss.sonatype.org/content/repositories/snapshots</url>
        <releases>
            <enabled>false</enabled>
        </releases>
        <snapshots>
            <enabled>true</enabled>
        </snapshots>
    </pluginRepository>
</pluginRepositories>
```

Follow Brooklyn's [getting started](https://brooklyn.incubator.apache.org/v/latest/start/running.html)
guide for instructions on running Brooklyn.

